body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: aliceblue;
}

#tela_calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: rgb(203, 191, 255);
    width: 700px;
    height: 800px;
    border-radius: 7px;
    font-size: max(12px, 2.3vh);
    text-align: center;
}

#tela_calculadora .texto {
    margin: 5px;
    border-radius: 7px;
    padding: 45px;
    font-size: medium;
    background-color: rgb(135, 157, 255);
    font-size: max(15px, 2.3vh);
    text-align: left;
}

#tela_calculadora .number {
    margin: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: max(12px, 2.0vh);
}

#tela_calculadora button {
    margin: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    font-size: max(12px, 1.9vh);
}